In [1]:
m = list("sudh")
m

['s', 'u', 'd', 'h']

In [4]:
# you should not give like this
m=list("sudh","asas")

TypeError: ignored

In [3]:
m=list(["sudh","kumar"])
m

['sudh', 'kumar']

In [44]:
m=list(12)
# int object is not iterable, so we have an error

TypeError: ignored

In [10]:
l=[1,2,3,4,5]
l[::-1]
l[0:10]

[1, 2, 3, 4, 5]

In [7]:
s="sudh"
print(s[0]) #access the character
print(s[-1])

s
h

In [8]:
s[0:10]

'sudh'

In [11]:
s[3:0] # forward step size will be taken by default
# you will get a blank string

''

In [12]:
s[3:0:-1]

'hdu'

In [0]:
l=[]
l.append('sudh') # append the data in tail part
l.append('vamsi')
l.append(["syam",123])

In [18]:
l

['sudh', ['syam', 123]]

In [22]:
#l.insert(location,object)
# we can insert the data in any location
l.insert(0,["Kumar","mays"])
l.insert(10,23) # 
l

[['Kumar', 'mays'],
 ['Kumar', 'mays'],
 ['Kumar', 'mays'],
 'sudh',
 ['Kumar', 'mays'],
 ['syam', 123],
 22,
 23]

In [23]:
type(l[0])

list

In [24]:
l[0][0]

'Kumar'

In [25]:
list(l[0][0]) # split the strng data into list of characters

['K', 'u', 'm', 'a', 'r']

In [26]:
"syam" + "kumar"

'syamkumar'

In [33]:
"sudh" + 1
# for the concatenation operation, both the data types should be same

TypeError: ignored

In [0]:
l1 = [2,5,6,7]
l2 = ["sudh",5,7,8,[1,2,3]]

In [31]:
l1+l2
# it will do first level of unwrapping and combine in a list

[2, 5, 6, 7, 'sudh', 5, 7, 8, [1, 2, 3]]

In [32]:
l1 + "sudh"
# for the concatenation operation, both the data types should be same

TypeError: ignored

In [34]:
l1 + ["sudh"]

[2, 5, 6, 7, 'sudh']

In [41]:
l1.insert(-1,["syam","kumar"])
l1
# insert function will insert the object before the given index
# so for positive indexes, the object will be inserted at exact index
# but for the negative location, it will be inserted before the given negative index

[2, 5, 6, 7, 1, 2, 3, 1, 2, [1, 2, 3], [1, 2, 3], ['syam', 'kumar'], 3]

In [43]:
help(list.insert)

Help on method_descriptor:

insert(...)
    L.insert(index, object) -- insert object before index

In [0]:
# reverse of the every element in the list
l=[1,2,"syam",[4,5,6]]
m=[]
for i in l:
  if type(i)==int:
    m.append(i)
  else:
    m.append(i[::-1])

In [47]:
m

[1, 2, 'mays', [6, 5, 4]]

In [50]:
s="syam"
print(s[0:10]) # no error
print(s[10]) # error

syam

IndexError: ignored

For Loop

In [48]:
s = "sudh"
for i in s:
  print(i)

s
u
d
h

In [51]:
for i in 100:
  print(i)

TypeError: ignored

In [54]:
for i in [1,2,3,4]:
  print(i,end=" ")
  print(type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>

In [55]:
for i in [1,2,"syam"]:
  if type(i) == str:
    print(i)

syam

In [56]:
for i in [1,2,"syam"]:
  if type(i) == str:
    print(i[::-1])

mays

In [0]:
x = []
for i in [1,2,"syam",[1,2,3,4,"mays"]]:
    if type(i) == list:
      for j in i[::-1]:
        if type(j) == int:
          x.append(j)
        else:
          x.append(j[::-1])

In [65]:
x

['syam', 4, 3, 2, 1]

In [0]:
x[0] = 'vamsi' # replacing the data

In [74]:
numbers = [1,2,3,4,5,6,7,8]
sum = 0
for i in numbers:
  sum = sum + i
print("The sum is",sum,sep=": ")

The sum is: 36

In [76]:
# For Else Combination
digits = [0,1,5]
for i in digits:
  print(i)
else:
  print("No items left.")

0
1
5
No items left.

In [82]:
# For Else Combination
digits = [0,1,5]
for i in digits:
  print(i)
  break
else:
  print("No items left.")

# if we use the break statement, else block will not got executed.

0

In [83]:
# For Else Combination
digits = [0,1,5]
for i in digits:
  continue
  print(i)
else:
  print("No items left.")

No items left.

While Loop

In [84]:
n = 10
sum = 0
i = 1

while i<=n:
  sum = sum + i
  i = i + 1
print("The sum is",sum,sep=": ")

The sum is: 55

In [86]:
n = int(input("enter any integer"))
print(n*(n+1)/2)

enter any integer10
55.0

Range\n
range is an generator function

In [87]:
range(10)

range(0, 10)

In [89]:
list(range(10))
# it excludes the upper bound
# we have given the range function to iterator

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
list(range(10,0))

[]

In [94]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [95]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [96]:
list(range(8,2,-2))

[8, 6, 4]

In [98]:
list(range(len("genre")))

[0, 1, 2, 3, 4]

In [101]:
ll = ["syam","kumar",1,2,3,4,5]
for i in range(0,len(ll),2):
  print(ll[i])

syam
1
3
5

In [0]:
# range function will generate only integers

In [104]:
mylist = [1,2,3,4,5]
a=[]
for i in range(len(mylist)-1,-1,-1):
  a.append(mylist[i])
a

[5, 4, 3, 2, 1]

In [107]:
for val in "sudhanshu":
  if val == "h":
    break
  print(val)
else:
  print("print after this for loop")
print("The End")
# else will not be printed
# if any case, the entire for loop is unable to complete, then it will not come to else statement

s
u
d
The End

In [108]:
for val in "string":
  if val == "i":
    continue
  print(val)
print("The End")
# whatever we have written after the continue will not be executed
# continue will pass the control over the loop and ignore the code after it

s
t
r
n
g
The End

In [111]:
for val in "string":
  if val == "i":
    continue
  print(val)
else:
  print("Print this if for loop is able to complete itself")
print("The End")

s
t
r
n
g
Print this if for loop is able to complete itself
The End

input()

In [112]:
type(input())
# input will read a string all the time

121212

str

In [113]:
# type cast the input
x = int(input("Enter the integer"))

Enter the integer12121

In [114]:
x

12121